{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "google",
    "plugin:@typescript-eslint/strict",
    "plugin:prettier/recommended",
    "plugin:jsdoc/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:import/react"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "simple-import-sort",
    "jsdoc",
    "import",
    "material-ui",
    "react-refresh"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "warnOnUnsupportedTypeScriptVersion": false // if it's bad enough it should just fail
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx", ".d.ts"]
    },
    "import/resolver": {
      "typescript": true
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    // TODO: remove this
    "@typescript-eslint/no-explicit-any": ["warn"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": ["warn", { "additionalHooks": "useResult" }],
    "simple-import-sort/imports": "error",
    "sort-imports": "off",
    "import/order": "off",
    "react/prop-types": "off",

    // wont refresh react components in dev mode unless the exports are all components
    "react-refresh/only-export-components": "warn",

    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*", "!@mui/material/colors/*"]
      }
    ],

    // these rules are deprecated https://eslint.org/docs/rules/valid-jsdoc
    "valid-jsdoc": "off",
    "require-jsdoc": "off",

    // I'm using typescript so these aren't necessary and only cause issues in imports
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off"
  }
}
