# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  IMAGE_NAME: elliott-and-mycah

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # pushes to a private digital ocean registry
  build_and_push:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2

        # install deps
        - name: Install yarn dependencies
          uses: Borales/actions-yarn@v2.3.0
          with:
            cmd: install

        # build project
        - name: Build assets
          uses: Borales/actions-yarn@v2.3.0
          with:
            cmd: build

        - name: Build docker image
          run: docker build . --file Dockerfile --tag $IMAGE_NAME

        # Install doctl on the runner
        - name: Install doctl
          uses: digitalocean/action-doctl@v2
          with:
            token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

        - name: push image to digitalocean
          run: |
            doctl registry login
            docker tag $IMAGE_NAME registry.digitalocean.com/mantocko/$IMAGE_NAME:latest
            docker tag $IMAGE_NAME registry.digitalocean.com/mantocko/$IMAGE_NAME:${GITHUB_SHA}
            docker push registry.digitalocean.com/mantocko/$IMAGE_NAME

  # This workflow contains a single job called "echo"
  echo:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
